<form [formGroup]="formGroup" class="relative w-full py-4">
    <div class="p-float-label">
        <p-dropdown
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            [options]="options"
            [ngClass]="classFilled"
            [optionLabel]="optionLabel"
            [optionValue]="optionValue"
            [formControlName]="fieldName"
            [inputId]="fieldName"
            class="ng-dirty ng-invalid"
            [id]="fieldName"
            [name]="fieldName" />
        <label [for]="fieldName" [ngClass]="classLabel">Select {{ label }}</label>
    </div>
    @if (isInvalid) {
        <div class="errors-message">{{ errorMessage }}</div>
    }
</form>
