<div class="block lg:hidden">

  @for (employee of employees; track $index) {
    <div class="flex flex-col mt-4 bg-white border shadow-sm rounded-xl">
        <div class="p-4 px-4 mt-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800">
            <td>{{ employee.username }}</td>
          </h3>
          <p class="mt-2 text-gray-500">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a class="inline-flex items-center mt-3 text-sm font-semibold text-blue-600 border border-transparent rounded-lg gap-x-1 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none" href="#">
            Card link
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>

    </div>

  }
  <button class="blink" id="scroll" title="Go to top" (click)="scrollToTop()"
  [ngStyle]="{ display: isVisible ? 'inline' : 'none' }" class="sticky bottom-0">
  <img src="../../../../../assets/icons/arrow.svg"  class="w-10 h-10"/>
</button>

</div>

<div class="hidden lg:block">
  <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl md:p-5">
    <p-table
        #dt
        [value]="employees"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['username', 'email', 'status']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-2">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input
                        pInputText
                        type="text"
                        (input)="filter(dt, $event)"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                @for (item of columns; track $index) {
                    <th pSortableColumn="email">
                        <div class="flex space-x-1">
                            <span>{{ item.header }} </span>
                            <p-sortIcon field="{{ item.field }}" />
                        </div>
                    </th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr class="text-sm text-elephant">
                <td>{{ employee.username }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.birthDate | date: 'longDate' }}</td>
                <td>
                    <i
                        class="pi"
                        [ngClass]="{
                            'text-green-500 pi-check-circle': employee.status === 'Active',
                            'text-red-500 pi-times-circle': employee.status === 'Inactive',
                        }"></i>
                </td>
                <td>
                    <div class="flex space-x-0">
                        <div>
                            <button
                                (click)="onView(employee.id)"
                                [pTooltip]="viewTooltip"
                                severity="secondary"
                                tooltipPosition="bottom"
                                pButton
                                pRipple
                                type="button"
                                class="p-1 m-1 text-blue-500 cursor-pointer pi pi-eye"></button>
                        </div>
                        <ng-template #viewTooltip>
                            <div class="flex align-items-center">
                                <span> View </span>
                            </div>
                        </ng-template>
                        <div>
                            <button
                                (click)="onUpdate(employee.id)"
                                [pTooltip]="editTooltip"
                                severity="secondary"
                                tooltipPosition="bottom"
                                pButton
                                pRipple
                                type="button"
                                class="p-1 m-1 text-yellow-500 cursor-pointer pi pi-pencil"></button>
                        </div>
                        <ng-template #editTooltip>
                            <div class="flex align-items-center">
                                <span> Edit </span>
                            </div>
                        </ng-template>
                        <div>
                            <button
                                (click)="onRemove(employee.id)"
                                [pTooltip]="deleteTooltip"
                                severity="secondary"
                                tooltipPosition="bottom"
                                pButton
                                pRipple
                                type="button"
                                class="p-1 m-1 text-red-500 cursor-pointer pi pi-trash"></button>
                        </div>
                        <ng-template #deleteTooltip>
                            <div class="flex align-items-center">
                                <span> Delete </span>
                            </div>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" class="mt-4">
            <p-button type="button" icon="pi pi-plus" (click)="onCreate()"></p-button>
        </ng-template>
    </p-table>
</div>
</div>


